<table border ="2" width="500">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>product Price</th>
        <th>Category</th>
        <th>Quantity</th>
    </tr>
    
    <tr *ngFor="let prod of prodArray">
        <td>{{prod.pid}}</td>
        <td>{{prod.pname}}</td>
        <td>{{prod.price}}</td>
        <td>{{prod.category}}</td>
        <td>{{prod.quantity}}</td>
    </tr>

</table>

<h3>Data Binding in Angular</h3>
<fieldset>
    <legend>Product Details</legend>
     Product Name  :   <input  type="text"  [(ngModel)]="pname"   />
     <br/><br/>
     Unit Price  :   <input  type="number"  [(ngModel)]="unitPrice"   />
     <br/><br/>
     Quantiy  :   <input  type="number"  [(ngModel)]="quantity"   />
     <br/><br/>
     <button  (click)="getTotal_click()">Get Total</button>
     <p> {{total}} </p>
</fieldset>
